:root {
    --underline-height: 0.5em;
    --transition-duration: 0.3s;
}

body {
    font-family: system-ui, sans-serif;
    background: whitesmoke;

}

nav {
    position: relative;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

.underline {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background: black;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
}

a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
}


nav.full {
    font-weight: bold;
    background: #111;
    color: white;
}

nav.full .underline {
    height: 100%;
    background: gold;
}